<!DOCTYPE html>
<html style="display: none;" <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>"<% } %>>
    <%- partial('_partial/head') %>

    <% if(page.layout === 'gallery') { %>
        <!-- Single Gallery Page -->
        <%- partial('_widget/page-gallery') %>
    <% } else { %>
        <body id="scheme-<%= theme.scheme %>" class="lazy">
            <div class="material-layout  mdl-js-layout has-drawer is-upgraded">
                <% if(theme.scheme === 'Isolation') { %>
                    <!-- Isolation Header -->
                    <%- partial('_partial/isolate_info') %>
                <% } %>

                <!-- Main Container -->
                <main class="material-layout__content" id="main">

                    <!-- Top Anchor -->
                    <div id="top"></div>

                    <% if(theme.scheme === 'Paradox') { %>
                        <!-- Hamburger Button -->
                        <button class="MD-burger-icon sidebar-toggle">
                            <span class="MD-burger-layer"></span>
                        </button>
                    <% } %>

                    <%- body %>

                    <% if(theme.scheme === 'Paradox') { %>
                        <%- partial('_partial/sidebar') %>
                    <% } %>

                    <% if( (theme.scheme === 'Paradox') && (is_post() || is_home() || is_archive() || is_category() || (page.totop === true) ) ) { %>
                        <!-- Footer Top Button -->
                        <%- partial('_partial/footer_top')  %>
                    <% } %>

                    <%- partial('_partial/footer') %>

                    <%- partial('_partial/import_js') %>
                </main>
            </div>
            <div id="landlord">
                <div class="message" height="20" style="bottom: 190px;opacity:0"></div>
                <canvas id="live2d" width="260" height="320" style="position: fixed; left: 0px; bottom: -80px;" class="live2d"></canvas>
                <div class="hide-button">隐藏</div>
            </div>
            <script type="text/javascript">
                var message_Path = '/live2d/'
                var home_Path = 'https://q234rty.top/'  //此处修改为你的域名，必须带斜杠
            </script>
            <script type="text/javascript" src="/live2d/js/live2d.js"></script>
            <script type="text/javascript" src="/live2d/js/message.js"></script>
            <script type="text/javascript">
                loadlive2d("live2d", "/live2d/model/pio/model"+Math.floor(Math.random()*3)+".json");
            </script>
        </body>
    <% } %>
</html>
